<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.baseProject.mapper.FileUtilMapper" >

	<select id="findFileForDataId" parameterType="String" resultType="com.bp.baseProject.entity.FileEntity">
		SELECT id
		FROM
			common_file
		WHERE data_id = #{dataId}
	</select>

</mapper>